<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <title>Forestry 11ty Imagem</title>
</head>
<body>
  <h1>Hello therdsfgfdfsde!</h1>
  {% for album in album %}

    <a href="/album/{{ album.title | slug }}/">{{ album.title }}</a>
    <br>
  {% endfor %}
</body>
</html>